/* 
    By Damian Demasi, August 2021
*/

/* SECTION Custom properties (variables) */

:root {
    --color-light: #fff;
    --color-lighter-grey: #e4e4e4;
    --color-light-grey: #7a7a7a;
    --color-medium-grey: #6c6c6c;
    --color-header-background: #f0f0f0;
    --color-accent: #b21f1f;
    --color-accent-secondary: #cd1616;
    --color-accent-background: #fdbb2d;
    --color-dark: #000;
    --color-article-text: #7a7a7a;
    --color-success: #155724;
    --color-success-background: #d4edda;
    --color-success-border: #c3e6c8;

    --transparency-light: rgba(255, 255, 255, 0.2);

    --gradient-linear: linear-gradient(
        to top right,
        #1a2a6c 0%,
        #b21f1f 40%,
        #fdbb2d 90%
    );
    --gradient-linear-2steps: linear-gradient(
        to top right,
        #b21f1f 0%,
        #fdbb2d 100%
    );

    --background-light-transparent-low: rgba(255, 255, 255, 0.5);
    --background-light-transparent: rgba(255, 255, 255, 0.3);
    --background-light-medium-transparent: rgba(255, 255, 255, 0.15);
    --background-lighter-transparent: rgba(255, 255, 255, 0.05);
    --background-dark-transparent: rgba(0, 0, 0, 0.05);
    --background-darker-transparent: rgba(0, 0, 0, 0.1);
    --background-dark-transparent-border: rgba(0, 0, 0, 0.025);

    --font-highlights: 'Bebas Neue', sans-serif;
    --font-normal: 'Roboto', sans-serif;

    --font-size-nav: 1.5rem;
}

/* SECTION Initial reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--font-normal);
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    /*outline: 1px dashed blue; /* Debugging purposes */
}

/* SECTION Body */

body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23eaeaea' fill-opacity='0.18' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

/* SECTION Hero */

.hero__top-container {
    height: 50vh;
    min-height: 31.875rem; /* 512 px */
    width: 100%;
    background: var(--gradient-linear);
}

/* SECTION Hero - Header */

.hero__header {
    margin: auto;
    width: 100%;
    color: var(--color-light);
}

.hero__name {
    font-family: var(--font-highlights);
    margin: 5rem auto 0 auto;
    text-align: center;
    font-size: 1.7rem;
    letter-spacing: 0.3em;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.hero__main-text {
    font-family: var(--font-highlights);
    margin: 2rem auto 0 auto;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.3em;
    transform-origin: 50% 50%;

    animation: web-dev-pop-up 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    -webkit-animation: web-dev-pop-up 4s ease-in-out both;
    animation: web-dev-pop-up 4s ease-in-out both;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* .hero__main-text:hover {
    -webkit-animation: web-dev-down 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: web-dev-down 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
} */

/* SECTION Hero - Articles */

.hero__featured {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 90rem;
    margin: 3rem auto 0 auto;
}

.hero__featured__article {
    /* min-width: 20rem; */
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* SECTION Nav bars */

.nav {
    max-width: 90rem;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.sticky-nav-reference {
    position: absolute;
}

.sticky-nav {
    position: -webkit-sticky;
    position: absolute -webkit-sticky;
    position: sticky;
    top: 0;
    margin-top: -4rem;
    z-index: 20;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    border-top: 2px solid var(--color-accent);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    transition: all 0.2s ease-in;
}

.sticky-nav-container {
    max-width: 80rem;
    max-height: 4rem;
    margin: 0.8rem auto 0 auto;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
}

.nav__logos-container,
.nav__links-container,
.nav__bio-container {
    display: flex;
    margin: 0.5rem auto;
}

.sticky-nav-container .nav__logos-container {
    display: none;
}

.nav__bio-container {
    display: none;
}

.nav__bio-container img {
    display: none;
}

.nav-image {
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: -1rem;
    border-radius: 50%;
}

.nav__bio__name-container {
    position: relative;
    color: var(--color-light);
    text-transform: uppercase;
    font-family: var(--font-highlights);
}

.nav__bio__name-container div:first-child {
    letter-spacing: 0.1rem;
}

.nav__bio__name-container div:last-child {
    font-size: 0.8rem;
    letter-spacing: 0.17rem;
}

.nav__logo,
.sticky-nav__logo {
    width: 3rem;
    height: 3rem;
    padding: 0.2rem;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
    border-radius: 50%;
    border: 1px solid transparent;
}

.nav__logo img,
.sticky-nav__logo img {
    display: block;
    margin: auto;
}

.nav__logo:focus,
.nav__logo:hover {
    background-color: var(--background-light-medium-transparent);
    transform: scale(1.2);
    border: 1px solid var(--color-light);
}

.sticky-nav__logo:focus,
.sticky-nav__logo:hover {
    transform: scale(1.2);
}

.nav__logo:active {
    background-color: var(--background-light-medium-transparent);
    transform: scale(1);
    border: 1px solid var(--color-light);
    box-shadow: none;
}

.nav__link,
.nav__link:link,
.nav__link:visited,
.sticky-nav__link,
.sticky-nav__link:link,
.sticky-nav__link:visited,
.footer__content__nav__link,
.footer__content__logo {
    display: block; /* To make transform work */
    margin: 0 0.5rem;
    letter-spacing: 0.05em;
    font-family: var(--font-highlights);
    font-size: 1rem;
    color: var(--color-light);
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.nav__link,
.nav__link:link,
.nav__link:visited,
.footer__content__nav__link,
.footer__content__logo {
    padding: 0.5rem;
}

.sticky-nav__link,
.sticky-nav__link:link,
.sticky-nav__link:visited {
    padding: 0 0.2rem;
}

.nav__link:focus,
.nav__link:hover,
.sticky-nav__link:focus,
.sticky-nav__link:hover {
    border: 1px solid var(--color-light);
    box-shadow: inset 0 -4em 0 0 var(--background-light-transparent),
        0 4px 0 0 var(--color-accent), 0 8px 8px 0 rgba(255, 255, 255, 0.4);
    text-shadow: 2px 2px var(--color-accent);
    transform: translateY(-3px);
}

.nav__link:active,
.sticky-nav__link:active,
/* The following selector is needed for JavaScript */
.sticky-nav__link.sticky-nav__link--active {
    border: 1px solid var(--color-light);
    box-shadow: none;
    text-shadow: none;
    transform: translateY(0px);
}

/* SECTION Articles */

.article__header,
.article__header--card {
    font-family: var(--font-normal);
    width: 100%;
    background: var(--color-header-background);
    padding: 1rem;
}

.article__header {
    border-radius: 5px;
}

.article__header--card {
    border-radius: 5px 5px 0 0;
}

.article__header__section {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--color-accent);
}

.article__header__title {
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-dark);
}

.article--text,
.article--text--card {
    color: var(--color-article-text);
    font-size: 1rem;
    line-height: 1.4rem;
    margin-top: 1rem;
    font-weight: 100;
}

.article--text--card {
    margin: 1rem;
}

.article--text--card p {
    margin: 0 0 1rem 0;
}

.article--text h3 {
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--color-dark);
    font-stretch: extra-expanded;
}

.article__aside {
    padding: 1rem;
}

/* .article__title--dark {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--font-highlights);
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
} */

/* .article__title--dark {
    background: var(--gradient-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
} */

/* SECTION Buttons */

/* Button faces */

.button--dark,
.button-light {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    font-family: var(--font-highlights);
    font-size: 1rem;
    letter-spacing: 0.1em;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline-offset: 4px;
    box-shadow: 0 0 0 0 var(--color-accent-background);
    transition: 0.1s all;
}

.card .button--dark {
    padding: 0.5rem;
}

.button--dark,
.card__button {
    color: var(--color-light);
    background: var(--color-accent);
}

.button-light {
    color: var(--color-accent);
    background: var(--color-light);
}

.button-light__icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: -0.1rem 0.5rem 0 0;
    -webkit-filter: invert(15%) sepia(48%) saturate(4293%) hue-rotate(346deg)
        brightness(110%) contrast(98%);
    filter: invert(15%) sepia(48%) saturate(4293%) hue-rotate(346deg)
        brightness(110%) contrast(98%);
}

.button-dark__icon {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0.05rem 0.5rem 0 0;
    -webkit-filter: invert(97%) sepia(0%) saturate(11%) hue-rotate(213deg)
        brightness(104%) contrast(102%);
    filter: invert(97%) sepia(0%) saturate(11%) hue-rotate(213deg)
        brightness(104%) contrast(102%);
}

.section__body__button__text,
.card__button__text {
    font-family: var(--font-highlights);
    font-size: 1rem;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

/* Hover and Focus */

.button--dark:hover,
.button--dark:focus,
.card__button:focus,
.card__button:hover {
    box-shadow: 0 5px 0 0 var(--color-accent-background),
        0 0 7px 4px rgba(0, 0, 0, 0.2);
    background: var(--color-accent-secondary);
    transform: translateY(-5px);
}

.button-light:hover,
.button-light:focus {
    box-shadow: 0 5px 0 0 var(--color-accent-background),
        0 0 7px 4px rgba(255, 255, 255, 0.2);
    background: var(--color-light);
    color: var(--color-accent-secondary);
    transform: translateY(-5px);
}

.button-light:hover .button-light__icon,
.button-light:focus .button-light__icon {
    -webkit-filter: invert(16%) sepia(75%) saturate(4390%) hue-rotate(352deg)
        brightness(88%) contrast(101%);
    filter: invert(16%) sepia(75%) saturate(4390%) hue-rotate(352deg)
        brightness(88%) contrast(101%);
}

/* Active */

.button--dark:active,
.card__button:active {
    box-shadow: none;
    background: var(--color-accent-secondary);
    transform: translateY(0px);
}

.button-light:active {
    box-shadow: none;
    background: var(--color-light);
    transform: translateY(0px);
}

/* Card buttons */

.card__footer__button,
.card__footer__button--light {
    cursor: pointer;
    display: block;
    /* margin: 2rem auto 0 auto; */
    padding: 0.2rem;
    border: 1px solid var(--background-dark-transparent-border);
    border-radius: 5px;
    transition: 0.2s all;
}

.card__footer__button {
    background: var(--background-dark-transparent);
}

.card__footer__button--light {
    background: var(--color-light);
}

.card__footer__button__text {
    font-family: var(--font-highlights);
    font-size: 1rem;
    text-transform: uppercase;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: var(--gradient-linear);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.card__footer__button--light:focus,
.card__footer__button--light:hover,
.card__footer__button:focus,
.card__footer__button:hover {
    box-shadow: 0 4px 0 0 var(--color-accent), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

.card__footer__button--light:focus,
.card__footer__button--light:hover {
    background: var(--color-light);
}

.card__footer__button:focus,
.card__footer__button:hover {
    background: var(--background-darker-transparent);
}

.card__footer__button:active,
.card__footer__button--light:active {
    box-shadow: none;
    background: var(--background-darker-transparent);
    transform: translateY(0px);
}

/* SECTION Main headers */

.section__header {
    height: 14rem;
    width: 100%;
    background: var(--gradient-linear);
}

.section__header {
    margin: 3rem auto -5rem auto;
}

.section__header__sub-header {
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-header-background);
    margin: 2rem auto;
    overflow: hidden; /* Prevent margins from collapsing */
}

.section__header__sub-header__title {
    font-size: 2rem;
    margin: auto 1rem;
}

.section__header__text-container {
    /* max-width: 80vw; */
    max-width: 90rem;
    margin: auto;
    overflow: hidden;
}

.section__header__text-container__text {
    position: relative;
    top: 1.5rem;
    text-align: center;
    /* color: var(--color-light); */
    color: var(--transparency-light);
    font-family: var(--font-highlights);
    text-transform: uppercase;
    font-size: 14rem;
    letter-spacing: 0.1em;
}

/* SECTION Main bodies */

.section__body-container,
.section__body-container--vertical {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    max-width: 90rem;
    margin: auto;
}

.section__body-container--vertical {
    flex-direction: column;
}

.section__body__card-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.section__body__highlight,
.section__body__highlight--transparent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: flex-start; */
    /* padding: 1rem; */
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden; /* Due to circle of contact buttons */
}

.section__body__highlight {
    background: var(--color-light);
}

.section__body__highlight--transparent {
    background: transparent; /* for clarification purposes */
}

.section__body__highlight__preview-gif {
    /* width: 18.75rem; */
    width: 100%;
    margin: 1rem auto;
}

.section__body__highlight__buttons {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__body__description {
    /* min-width: 20rem; */
    max-width: 22rem;
    margin: 0 auto;
    padding: 1rem;
    background: var(--color-light);
    border-radius: 5px;
}

.section__body__background {
    position: relative;
    top: 5rem;
    background: var(--gradient-linear);
}

.section__body__highlight__picture {
    width: 21.25rem;
    height: 21.25rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    background-color: var(--color-light);
    border-radius: 50%;
}

.section__body__highlight__picture__image,
.section__body__highlight__circle {
    display: block;
    width: 19.25rem;
    height: 19.25rem;
    border-radius: 50%;
    padding: 1rem;
    border: 1px solid var(--color-accent);
    position: relative;
}

.section__body__highlight__picture__image {
    border: 1px solid var(--color-accent);
}

.section__body__highlight__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-accent);
}

/* SECTION Cards */

.card {
    max-width: 21rem;
    /* height: 32rem; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
    margin: 0 0 2rem 0;
}

.card__nav:first-child {
    background-color: #dbdbdb;
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.card__nav:last-child {
    background: var(--gradient-linear);
    width: 3.4375rem;
    height: 3.4375rem;
    border-radius: 50%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.card__nav:first-child > img {
    width: 2rem;
    margin: auto;
}

.card__nav:last-child > img {
    transform: rotate(180deg);
    width: 2rem;
    margin: auto;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* min-width: 60rem; */
    max-width: 90rem;
    margin: 0 auto;
}

.card__header__title {
    font-family: var(--font-highlights);
    font-size: 1.5rem;
    color: var(--color-light);
}

.card__footer {
    /* height: 7rem; */
    background-color: var(--color-header-background);
    border-radius: 0 0 5px 5px;
    padding: 1rem;
    margin-top: auto; /* push the element to bottom of flex */
}

.card__footer__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.1rem;
    margin: 0 auto 0.5rem 0.2rem;
    color: var(--color-accent);
    /* text-align: center; */
}

.card__footer__buttons-container {
    display: flex;
    justify-content: space-between;
}

.card__header {
    background: var(--color-header-background);
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card__header__image {
    width: 6.25rem;
    height: 6.25rem;
    margin-right: 1rem;
}

.card__header__name {
    color: var(--color-dark);
    font-size: 1.2rem;
    /* font-weight: 700; */
}

.card__header__job-title {
    color: var(--color-dark);
    font-size: 0.8rem;
    font-weight: 100;
    margin-top: 1rem;
}

.card__body {
    padding: 1rem;
    color: var(--color-medium-grey);
}

/* SECTION Form */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__input,
.form__textarea {
    font-family: var(--font-normal);
    font-size: 1rem;
    background: var(--background-dark-transparent);
    background-image: var(--gradient-linear);
    background-repeat: no-repeat;
    background-position: 0 calc(100% + 2px), 0 0;
    background-size: 100% 2px;
    box-shadow: none;
    border: 0;
    outline-offset: 4px;
    border-bottom: 2px solid red;
    border-color: transparent;
    border-radius: 5px 5px 0 0;
    color: black;
    line-height: 1.5;
    padding: 0.5rem;
    width: 100%;
    margin-top: 2rem;
}

.form__success-message {
    position: absolute;
    display: block;
    max-width: 20rem;
    font-size: 1rem;
    top: 40%;
    left: calc(50% - 10rem);
    background-color: var(--color-success-background);
    color: var(--color-success);
    padding: 2rem;
    border: 2px solid var(--color-success-border);
    border-radius: 10px;
    box-shadow: 0 10px 15px 5px var(--background-darker-transparent);
    transition: all 0.2s;
}

/* SECTION Tweaks and decoration */

.hidden {
    opacity: 0;
    overflow: hidden;
    z-index: 0;
    /* height: 0; */
}

.dark-container {
    margin-top: 4rem;
    padding: 1rem;
    border-radius: 5px;
    color: var(--color-light);
    background-color: var(--background-darker-transparent);
    /* min-width: 25rem;
    max-width: 40rem; */
}

.dividing-line--horizontal--dark,
.dividing-line--horizontal--light {
    width: 90%;
    margin: 2rem auto;
}

.dividing-line--horizontal--dark,
.dividing-line--vertical--dark {
    border: 1px dashed var(--color-lighter-grey);
    /* display: none; */
}

.dividing-line--horizontal--light {
    border: 1px dashed var(--background-light-transparent);
}

.contact .big-icon {
    font-size: 3rem;
    text-align: center;
    margin: 3rem auto;
}

/* SECTION Footer */

.footer__background {
    width: 100%;
    height: 20rem;
    background: var(--gradient-linear);
    overflow: hidden;
    position: relative;
}

.footer__background-text {
    font-family: var(--font-highlights);
    color: var(--background-lighter-transparent);
    font-size: 31rem;
    position: absolute;
    top: 0;
    left: 50%;
    margin: -7rem auto 0 -35.3rem;
}

.footer__content__container {
    width: 90%;
    max-width: 70rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.footer__content__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    z-index: 10;
}

.footer__content__contact {
    width: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__content__logos-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: -2rem;
}

.footer__content__signature {
    color: var(--color-light);
    margin-bottom: -10rem;
    text-align: right;
}

.footer__content__signature__highlight {
    font-weight: 700;
    display: block;
}

.footer__resources {
    position: absolute;
    right: 0;
    bottom: 2rem;
    text-align: right;
    color: var(--color-lighter-grey);
    font-size: 0.8rem;
}

.footer__resources a,
.footer__resources a:link,
.footer__resources a:visited {
    color: var(--color-lighter-grey);
    text-decoration: none;
    border-bottom: 1px solid var(--color-lighter-grey);
}

.footer__resources a:hover,
.footer__resources a:focus {
    border-bottom: 1px dotted var(--color-light);
    color: var(--color-light);
}

/* SECTION Icons */

.icon-nav-light {
    height: 2rem;
    width: 2rem;
    margin: -0.1rem 0.5rem 0 0;
    -webkit-filter: invert(100%) sepia(24%) saturate(0%) hue-rotate(294deg)
        brightness(109%) contrast(101%);
    filter: invert(100%) sepia(24%) saturate(0%) hue-rotate(294deg)
        brightness(109%) contrast(101%);
}

/* SECTION Animations */

@-webkit-keyframes web-dev-pop-up {
    0% {
        transform: translateY(-2rem);
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 7px 5px rgba(0, 0, 0, 0.3);
    }
    50% {
        transform: translateY(-1rem);
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 15px 10px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: translateY(-2rem);
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 7px 5px rgba(0, 0, 0, 0.3);
    }
}

@keyframes web-dev-pop-up {
    0% {
        transform: translateY(-2rem);
    }
    50% {
        transform: translateY(-1rem);
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 2px 0 #cccccc, 0 7px 5px rgba(0, 0, 0, 0.3);
    }
    100% {
        transform: translateY(-2rem);
    }
}

/* SECTION Mobile first */

@media (min-width: 500px) {
    .section__body__highlight__preview-gif {
        width: 25rem;
    }
    .section__body__description,
    .section__body__highlight,
    .section__body__highlight--transparent {
        /* padding: 0 2rem; */
        max-width: 30rem;
    }
    .card__footer__button__text {
        font-size: 1.2rem;
    }
    .article__title--light,
    .article__title--dark {
        font-size: 3.5rem;
    }
    .card {
        margin: 0 1rem 2rem 1rem;
    }
}
@media (min-width: 650px) {
    .section__body__highlight__preview-gif {
        width: 36rem;
    }
    .section__body__description,
    .section__body__highlight,
    .section__body__highlight--transparent {
        /* padding: 0 2rem; */
        max-width: 40rem;
    }
}
@media (min-width: 750px) {
    .hero__main-text {
        font-size: 5rem;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 2px 0 #cccccc,
            0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 3px 0 #cccccc, 0 5px 0 #cccccc,
            0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 35px 20px rgba(0, 0, 0, 0.3);
    }

    .nav__link,
    .nav__link:link,
    .nav__link:visited,
    .sticky-nav__link,
    .sticky-nav__link:link,
    .sticky-nav__link:visited,
    .footer__content__nav__link,
    .footer__content__logo {
        font-size: var(--font-size-nav);
    }

    .dividing-line--vertical--dark {
        display: block;
    }
    .projects__nav__container__project {
        margin: 0 2rem;
    }
    .nav__bio-container {
        display: flex;
    }
    .sticky-nav-container {
        margin-top: 0.4rem;
    }
}
@media (min-width: 1100px) {
    .hero__main-text {
        font-size: 7rem;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
            0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
            0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
    .nav__link {
        margin: 0 2rem;
    }
    .nav__logo {
        margin: 0 1rem;
    }
    .move-left {
        margin-left: -5rem;
    }
    .sticky-nav-container .nav__logos-container {
        display: flex;
        margin: auto;
    }
    .nav__bio-container img {
        display: block;
    }
    .nav__bio__name-container {
        left: 7rem;
    }

    .sticky-nav {
        padding-top: 0;
    }
}

@media (min-width: 1285px) {
    .move-up-margin--photo {
        margin-top: -5.625rem;
    }
}

@media (min-width: 1400px) {
    .hero__main-text {
        font-size: 9rem;
    }
}
